
/* Assignment 1 CSS start */

.blueRectangle {
    background-color: #62a6dc;
    max-width: 400px;
    height: 250px;
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.blackCircle {
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Assignment 1 CSS end */